<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Coding Wattpad</title>

</head>
<body class="flex-column min-100-vh">
    <div id="header-container" style="display:table">
        <div role="banner" id="header" style="display: table;">
            <nav class="navbar">
                <ul class="list-inline">
                    <li class="header-item-logo">
                        <a class="on-navigate" href="/" title="Blog Home">The Coder's Wattpad</a>
                    </li>
                    <li class="li-inline nav-lnk"><a href="/">Dashboard</a></li>
                    <li class="li-inline nav-lnk"><a href="/">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

 <div class="main-content col-auto">
  {{{body}}}
 </div>

 <footer class="footer flex-row justify-center">
  <p>&copy; {{year}} {{author}}</p>
 </footer>
 
</body>
{{!-- logout source js file --}}
<script src=""></script>
</html>