<div class="posts list-group">
    {{#each posts}}
        <a class="list-item flew-row justify-space-between" href="/dashboard/edit/{{id}}">
           <span>{{title}}</span>
           <span>{{post.createdAt}}</span>
        </a>
    {{/each}}
</div>