<div id="post-container" style="display:table">
    {{#each posts}}
        <a class="list-inline flex-row justify-space-between" href="/dashboard/edit/{{id}}">
            <span>{{title}}</span>
            <span></span>
        </a>
    {{/each}}
</div>