<div class="card">
    <div class="card-header">
        <h3>Sign-Up</h3>
    </div>
    <div id="signup-card-body">
        <form id="signup-form" class="card-body">
            <div>
                <label for="username-input-signup">Username</label>
                <input type="text" id="username-input-signup" />
            </div>
            <div>
                <label for="password-input-signup" class="form-label">Password</label>
                <input type="password" id="password-input-signup" />
            </div>
            <button type="submit" id="signup-btn" class="btn">Get to Writting, G!</button>
            <p>Already have an account? Login: </p>
            <a type="button" href="/login">Login</a>
        </form>
    </div>

</div>

<script src="/public/js/signup.js"></script>